@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #171717;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    background: linear-gradient(0deg,rgba(0,0,0,.8),rgba(218,0,55,.569));
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
.hero1{
    background-image: url(../public/assets/p-1.jpg)  ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}